@font-face {
    font-family: 'black_jackregular';
    src: url('blackjack-webfont.eot');
    src: url('blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackjack-webfont.woff2') format('woff2'),
         url('blackjack-webfont.woff') format('woff'),
         url('blackjack-webfont.ttf') format('truetype'),
         url('blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family: 'black_jackregular', 'Arial Black', Arial;
}
h1 , h1 + p
{
    
    text-align: center;
}
h2
{
    color: blue;
    text-shadow: 1px 1px 1px red;

}
div
{
    width: 100%;
    height: 100%;
    display: block; 
    position: absolute;
}

div::after
{
    content: "";
    background-image: url("zidane-font.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.tof
{
    float: left;
    border: 3px red double;
    box-shadow: 8px 8px 8px white;
}

.next
{
    clear: both;
}